.task {

    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    background-color: #4caf50; /* Green background */
    color: white; /* White text color */
    padding: 1rem;
    background-color: rgb(35,39,52);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow for better visibility */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    border: 0.5px solid grey;
    cursor: pointer;
    border-left: 7px solid  rgb(102,255,0);
}

.header {
    font-size: 1rem; /* Size of the "Date & Priority" text */
    margin-bottom: 0.5rem; /* Space between header and main content */
    text-align: left;
    width: 100%;
    padding-left: 3rem;
    font-family: sans-serif;
    color: grey;
    
}

.main-content {
    font-size: 2rem; /* Size of the "Complete Design Work" text */
    text-align: left; /* Center text inside the box */
    width: 100%;
    padding-left: 3rem;
    font-family: monospace;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    color: black;
}

.close-modal {
    position: absolute;
    top:10px;
    right: 10px;
    padding: 5px 7px;
}



.task-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; /* White text color */
    font-size: 1rem; /* Responsive text size */
    padding: 1rem 2rem; /* Vertical and horizontal padding */
    font-family: monospace;
    text-align: left; /* Center text inside the box */
    width: 100%; /* Take full width of parent container */
    box-sizing: border-box;
    height: 1vh;

   
}
.task-percent {
    padding-left: 2.2rem;
}

.task-title {
    padding-left: 5rem;
    
}

.task-done {
    margin-right: 5rem;
    
}

.task-info {
    
    background-color: rgb(35,39,52);
    
    margin-right: 5rem;

}

.task-date {
    margin-left: auto;
    background-color: rgb(35,39,52);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .header {
        font-size: 0.75rem; /* Smaller text on smaller screens */
    }

    .main-content {
        font-size: 1.5rem; /* Smaller text on smaller screens */
    }

    .task-container{
        width: 90%;
    }

}